spring:
  security:
    oauth2:
      client:
        registration:
          spotify:
            client-name: spotify
            client-id: 9363375357924b3aa36b2f3fdce56762
            client-secret: 90785ad5c0d94adea25710b5c92cc19f
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/login/oauth2/code/spotify
            scope: user-library-read,playlist-read-private,playlist-modify-private,playlist-modify-public,user-read-private
        provider:
          spotify:
            user-name-attribute: id
            authorization-uri: https://accounts.spotify.com/authorize
            token-uri: https://accounts.spotify.com/api/token
            user-info-uri: https://api.spotify.com/v1/me
---
spring:
  config:
    activate:
      on-profile: cli
  main:
    web-application-type: none
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.oauth2.client.servlet.OAuth2ClientAutoConfiguration
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
      - org.springframework.boot.autoconfigure.security.servlet.SecurityFilterAutoConfiguration
spotify:
  access-token: ${SPOTIFY_ACCESS_TOKEN}
